<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}eat TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete" data-id="{{id}}">DELETE</button>

</li>
